1-general-examples/use-case-azure-smart-building/Production/ARM_Templates/FY21Demo_ADF050_Template.json
{
  "contentVersion": "1.0.0.0",
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "parameters": {
    "dataFactoryName": {
      "type": "string",
	  "defaultvalue": "[concat('FY21DemoADF-', uniqueString(resourceGroup().id))]",
      "metadata": {
        "description": "Name of the data factory. Must be globally unique."
      }
    },
    "dataFactoryLocation": {
      "type": "string",
      "allowedValues": [
                "East US",
                "East US 2",
                "West US 2",
                "West Europe",
                "Southeast Asia"
      ],
      "defaultValue": "West US 2",
      "metadata": {
        "description": "Location of the data factory"
      }
    },
    "azureStorageAccountName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Azure Storage account."
      }
    },
    "azureSqlServerName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Azure SQL Server."
      }
    },
    "azureSqlDbName": {
      "type": "string",
      "defaultValue": "SmartBuildingDB",
      "metadata": {
        "description": "Name of the Azure SQL DB."
      }
    },
    "azureStorageConnectionString": {
      "type": "securestring",
      "metadata": {
        "description": "Connection string for the Azure Storage account."
      }
    }, 
    "azureSqlServerAdministratorPassword": {
      "type": "securestring",
      "metadata": {
        "description": "Password for the Azure SQL Login."
      }
    },
    "azureSqlServerAdministratorLogin": {
      "type": "string",
      "metadata": {
        "description": "Username for the Azure SQL Login."
      }
    },
    "servicePrincipalId": {
      "type": "string",
      "metadata": {
        "description": "The ID of the service principal that has permissions to create HDInsight clusters in your subscription."
      }
    },
    "servicePrincipalKey": {
      "type": "securestring",
      "metadata": {
        "description": "The access key of the service principal that has permissions to create HDInsight clusters in your subscription."
      }
    },
	"subscriptionId": {
      "type": "string",
      "metadata": {
        "description": "The subscription."
      }
    },
  },
  "variables": {
    "hdiLinkedService": "SBDemoHDILinkedService",
	"storageLinkedService": "SBDemoStgLinkedService",
	"sqlLinkedService": "SBDemoSqlLinkedService",
    "scriptRootPath": "smartbuilding/spark/script",
	"storageAccountId": "[resourceId('Microsoft.Storage/storageAccounts', parameters('azureStorageAccountName'))]"
  },
  "resources": [
    {
      "name": "[parameters('dataFactoryName')]",
      "apiVersion": "2018-06-01",
      "type": "Microsoft.DataFactory/factories",
      "location": "[parameters('dataFactoryLocation')]",
      "properties": {},
      "resources": [
        {
          "type": "linkedServices",
          "name": "[variables('storageLinkedService')]",
		  "apiVersion": "2018-06-01",
          "properties": {
            "type": "AzureBlobStorage",
            "typeProperties": {
              "connectionString": "[concat('DefaultEndpointsProtocol=https;AccountName=',parameters('azureStorageAccountName'),';AccountKey=',listKeys(variables('StorageAccountId'), '2019-06-01').keys[0].value)]"
            }
          },
		  "dependsOn": [
            "[parameters('dataFactoryName')]"
          ]
        },
        {
          "name": "[variables('sqlLinkedService')]",
          "type": "linkedServices",
          "apiVersion": "2018-06-01",
          "properties": {
            "annotations": [],
            "type": "AzureSqlDatabase",
            "typeProperties": {		  
			  "connectionString": "[concat('integrated security=False;encrypt=True;connection timeout=30;data source=',parameters('azureSqlServerName'),'.database.windows.net;initial catalog=SmartBuildingDB;user id=',parameters('azureSqlServerAdministratorLogin'),';Password=',parameters('azureSqlServerAdministratorPassword'))]",
              "type": "SecureString"
            }
          },
          "dependsOn": [
            "[parameters('dataFactoryName')]"
          ]
        },
        {
        "type": "linkedServices",
		"name": "[variables('hdiLinkedService')]",
        "dependsOn": [
            "[parameters('dataFactoryName')]",
            "[variables('storageLinkedService')]"
        ],
        "apiVersion": "2018-06-01",
        "properties": {
			"type": "HDInsightOnDemand",
			"typeProperties": {
				"clusterType": "spark",
				"clusterSize": 1,
				"timeToLive": "01:30:00",
				"version": "3.6",
				"hostSubscriptionId": "[parameters('subscriptionId')]",
				"clusterResourceGroup": "[resourceGroup().name]",
				"tenant": "[subscription().tenantId]",
				"sparkVersion": "",
				"servicePrincipalId": "[parameters('servicePrincipalId')]",
				"servicePrincipalKey": {
					"type": "SecureString",
					"value": "[parameters('servicePrincipalKey')]"
				},
				"osType": "Linux",
				"clusterNamePrefix": "FY21DEMOADF",
                "clusterUserName": "[parameters('azureSqlServerAdministratorLogin')]",				
				"clusterPassword": {
                    "type": "SecureString",
                    "value": "[parameters('azureSqlServerAdministratorPassword')]"
                },
                "clusterSshUserName": "[parameters('azureSqlServerAdministratorLogin')]",
                "clusterSshPassword": {
                    "type": "SecureString",
                    "value": "[parameters('azureSqlServerAdministratorPassword')]"
                },
				"linkedServiceName": {
					"referenceName": "[variables('storageLinkedService')]",
					"type": "LinkedServiceReference"
				}
            }
          }
        },
        {
          "name": "SmartBuilding_SparkPipeline",
          "type": "pipelines",
          "apiVersion": "2018-06-01",
          "properties": {
            "activities": [
              {
                "name": "SparkStepLinkedHDI",
                "type": "HDInsightSpark",
                "dependsOn": [
                    {
                      "activity": "CleanNotificationsDirectory",
                      "dependencyConditions": [
                            "Succeeded"
                      ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "rootPath": "smartbuilding/spark/jar",
                    "entryFilePath": "sblr.jar",
                    "arguments": [
                        "[concat('wasb://smartbuilding@', parameters('azureStorageAccountName'), '.blob.core.windows.net/files/buildingdata.csv')]",
						"maintenance_model",
                        "[concat('wasb://smartbuilding@', parameters('azureStorageAccountName'), '.blob.core.windows.net/files/notifications')]"
                    ],
                    "getDebugInfo": "Always",
                    "className": "com.bmc.sb.processBuildingData",
                    "sparkJobLinkedService": {
                        "referenceName": "[variables('storageLinkedService')]",
                        "type": "LinkedServiceReference"
                    }
                },
                "linkedServiceName": {
                    "referenceName": "[variables('hdiLinkedService')]",
                    "type": "LinkedServiceReference"
                }
              },
              {
                "name": "PigDirectoryCleanup",
                "type": "HDInsightPig",
                "dependsOn": [
                  {
                    "activity": "CleanOutputDirectory_File",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                  }
                ],
                "policy": {
                  "timeout": "7.00:00:00",
                  "retry": 0,
                  "retryIntervalInSeconds": 30,
                  "secureOutput": false,
                  "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                  "scriptPath": "smartbuilding/spark/script/dir_clean.pig",
                  "getDebugInfo": "Failure",
                  "scriptLinkedService": {
                    "referenceName": "[variables('storageLinkedService')]",
                    "type": "LinkedServiceReference"
                  }
                },
                "linkedServiceName": {
                  "referenceName": "[variables('hdiLinkedService')]",
                  "type": "LinkedServiceReference"
                }
              },
              {
                        "name": "CleanOutputDirectory_File",
                        "type": "Delete",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "CleanupOldOutput",
                                "type": "DatasetReference",
                                "parameters": {}
                            },
                            "enableLogging": false,
                            "storeSettings": {
                                "type": "AzureBlobStorageReadSettings",
                                "recursive": true
                            }
                        }
              },
              {
                        "name": "CleanNotificationsDirectory",
                        "type": "HDInsightPig",
                        "dependsOn": [
                            {
                                "activity": "PigDirectoryCleanup",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "scriptPath": "smartbuilding/spark/script/clean_notifications.pig",
                            "scriptLinkedService": {
                                "referenceName": "[variables('storageLinkedService')]",
                                "type": "LinkedServiceReference"
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "[variables('hdiLinkedService')]",
                            "type": "LinkedServiceReference"
                        }
              },
              {
                        "name": "Copy2SQL",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "SparkStepLinkedHDI",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "additionalColumns": [
                                    {
                                        "name": "ingestTime",
                                        "value": {
                                            "value": "@utcnow()",
                                            "type": "Expression"
                                        }
                                    }
                                ],
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": true,
                                    "wildcardFolderPath": "files/notifications",
                                    "wildcardFileName": "*.csv",
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            },
                            "sink": {
                                "type": "AzureSqlSink"
                            },
                            "enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
                                    {
                                        "source": {
                                            "name": "seq",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "seq",
                                            "type": "Int32",
                                            "physicalType": "int"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "detectiondate",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "detectiondate",
                                            "type": "DateTime",
                                            "physicalType": "datetime"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "Temperature",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "Temperature",
                                            "type": "Decimal",
                                            "physicalType": "decimal"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "Humidity",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "Humidity",
                                            "type": "Decimal",
                                            "physicalType": "decimal"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "Light",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "Light",
                                            "type": "Decimal",
                                            "physicalType": "decimal"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "CO2",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "CO2",
                                            "type": "Decimal",
                                            "physicalType": "decimal"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "HumidityRatio",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "HumidityRatio",
                                            "type": "Decimal",
                                            "physicalType": "decimal"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "Occupancy",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "Occupancy",
                                            "type": "Int32",
                                            "physicalType": "int"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "ingestTime",
                                            "type": "String"
                                        },
                                        "sink": {
                                            "name": "ingestTime",
                                            "type": "DateTime",
                                            "physicalType": "datetime"
                                        }
                                    }
                                ],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
                        },
                        "inputs": [
                            {
                                "referenceName": "CSVText",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "AzureSqlsmartBuildingTable",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
              }
            ],
            "annotations": []
          },
          "dependsOn": [
            "[parameters('dataFactoryName')]",
            "[variables('storageLinkedService')]",
			"[variables('sqlLinkedService')]",
            "[variables('hdiLinkedService')]",
			"CSVText"

          ]
        },
        {
            "name": "CSVText",
            "type": "datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[variables('storageLinkedService')]",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": "part-00000-8c6cbeb4-9b41-4201-abff-83d42b60aaca-c000.csv",
                        "folderPath": "files/notifications",
                        "container": "smartbuilding"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[parameters('dataFactoryName')]",
				"[variables('storageLinkedService')]"
            ]
        },
        {
            "name": "AzureSqlsmartBuildingTable",
            "type": "datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[variables('sqlLinkedService')]",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureSqlTable",
				"schema": [
					{
						"name": "seq",
						"type": "int",
						"precision": 10
					},
					{
						"name": "detectiondate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Temperature",
						"type": "decimal",
						"precision": 16,
						"scale": 12
					},
					{
						"name": "Humidity",
						"type": "decimal",
						"precision": 16,
						"scale": 12
					},
					{
						"name": "Light",
						"type": "decimal",
						"precision": 16,
						"scale": 12
					},
					{
						"name": "CO2",
						"type": "decimal",
						"precision": 16,
						"scale": 11
					},
					{
						"name": "HumidityRatio",
						"type": "decimal",
						"precision": 18,
						"scale": 17
					},
					{
						"name": "Occupancy",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ingestTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
                "typeProperties": {
                    "schema": "dbo",
                    "table": "SBDATA"
                }
            },
            "dependsOn": [
                "[parameters('dataFactoryName')]",
                "[variables('sqlLinkedService')]"
            ]
        },
        {
            "name": "CleanupOldOutput",
            "type": "datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[variables('storageLinkedService')]",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Binary",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": "notifications",
                        "folderPath": "files",
                        "container": "smartbuilding"
                    }
                }
            },
            "dependsOn": [
                "[parameters('dataFactoryName')]",
                "[variables('storageLinkedService')]"
            ]
        }
      ]
    }
  ]
}
